@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Para usar la APP correctamente, sigue los siguientes pasos :</p>

<p>Crea un Usuario.</p>
<p>Crea un tipo de cuenta.</p>
<p>Crea una cuenta, la cual se relacione al tipo de cuenta.</p>
<p>Finalmente, crea las categorias correspondientes a las transacciones que realizaras.</p>
</div>
